body {
  background-color:#EEE;
}

.repo-card > .mui-panel {
  /*height: 18rem;*/
  overflow: hidden;
  cursor: pointer;
}

div.repo-card .pushed_time {
  color: lightgrey;
}

div.repo-card .description {
  height: 4rem;
  overflow: hidden;
}

.col-time {
  text-align:right;
}

.title {
  font-weight: bold;
  color: black;
}

.repo, .number {
  color: grey;
}

.meta, .meta-footer{
  padding: 0px;
}

.meta-footer {
  text-align: right;
}

.is_pr {
  font-family: monospace;
}

.mui-panel {
  padding: 5px;
  margin-bottom: 3px;
}

.toolbar {
  margin-top:15px;
  text-align: right;
}

